<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
	<div class="c-sidebar-brand d-lg-down-none">
		<i class="cib-visual-studio"></i>
	</div>
	<ul class="c-sidebar-nav">
		{% if is_granted('ROLE_ADMIN') %}
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="{{ path('dashboard') }}">
					<i class="cil-gauge"></i>
					Tableau de bord</a>
			</li>

			<li class="c-sidebar-nav-title">Gestion des utilisateurs</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="{{ path('user_index') }}">
					<i class="cil-people"></i>
					Utilisateurs</a>
			</li>
		{% endif %}
		{% if (is_granted('ROLE_UTILISATEUR')) or (is_granted('ROLE_ADMIN')) %}
			<li class="c-sidebar-nav-title">Gestion des clients</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="{{ path('entreprise_index') }}">
					<i class="cil-building"></i>
					Entreprises</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="{{ path('client_index') }}">
					<i class="cil-address-book"></i>
					Clients</a>
			</li>
		{% endif %}
		<li class="c-sidebar-nav-title">Gestion des tickets</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{{ path('ticket_index') }}">
				<i class="cil-tag"></i>
				Tickets</a>
		</li>
		<li class="c-sidebar-nav-title">Gestion des demandes</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{{ path('demande_index')}}">
				<i class="cil-tag"></i>
				Demandes</a>
		</li>
	</ul>
</div>
<div class="c-wrapper c-fixed-components">
	<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
		<button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
			<i class="cil-menu"></i>
		</button>
		<a class="c-header-brand d-lg-none" href="#">
			<svg width="118" height="46" alt="CoreUI Logo">
				<use xlink:href="assets/brand/coreui.svg#full"></use>
			</svg>
		</a>
		<button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
			<i class="cil-menu"></i>
		</button>
		<ul class="c-header-nav ml-auto mr-4">
			<li class="c-header-nav-item dropdown">
				<a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<div class="c-avatar">
						<i class="cil-user"></i>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-right pt-0">
					<div class="dropdown-header bg-light py-2">
						<strong>
							{% if app.user %}
								<div class="mb-3">
									Vous êtes loggé en tant que
									{{ app.user.username }}
								</div>
							{% endif %}
						</strong>
					</div>
					<a class="c-sidebar-nav-link" href="{{ path('app_logout') }}">
						<i class="cil-account-logout"></i>
						Logout</a>
				</div>
			</li>
		</ul>
	</header>
	<main class="c-main">
