{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-sm btn-primary mt-3" type="submit">{{ button_label|default('Enregistré') }}</button>
{% if template == 'utilisateur' %}
	<a href="{{ path('user_index') }}" class="btn btn-sm btn-info mt-3"><i class="cib-nextdoor"></i></a>
{% else %}
	<a href="{{ path('client_index') }}" class="btn btn-sm btn-info mt-3"><i class="cib-nextdoor"></i></a>
{% endif %}

{{ form_end(form) }}
